.header{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab{
    display: flex;
    margin-right: 20px;
    gap: 20px;
}